<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class=" max-w-screen-xl mx-auto flex item-center justify-between py-6 ">
        <h1 class="font-bold text-xl">HISSAB KITAB</h1>
        <div class="flex gap-10 text-lg">
            <a href="/">Home</a>
            <a href="/create">Create a new Hissab</a>
        </div>
    </nav>

    <main class=" max-w-screen-xl mx-auto h-screen pt-10">
        <h1 class="text-[1.5vw] font-semibold">You're editing hissab of <span class="text-blue-500"> <%=filedate %> </span>date </h1>
        <form  action="/update/<%=filename%>" method="post" class="mt-4  w-1/2 flex flex-col">
           

            <textarea name="data" id="" rows="14" cols="20" class="resize-none mt-1 rounded-lg bg-zinc-200 outline-none p-3 "><%= data %>
            </textarea>

            <div class="mt-5">
                <input type="submit" value="Update Hissab" class="bg-blue-500 px-4 py-2 rounded-lg text-white font-bold cursor-pointer">
            </div>
        </form> 
    </main>




<!-- <form action="/update/<%=filename%>" method="post" >
    <textarea class="h-96 w-96" name="data" id="" value="" rows="10" cols="40"  ><%= data %></textarea>
    <input type="submit" value="submit">
</form> -->
</body>
</html>